$violet: #000;
$yellow: #F9C802;
$lightgray: #F5F5F5;
$white: #FEFEFE;
$white-bg: #FAFAFA;
$black38: rgba(0, 0, 0, 0.541327);
$black54: rgba(0, 0, 0, 0.541327);
$black87: rgba(0, 0, 0, 0.87);
$pink38: rgba(249, 154, 171, 0.38);
$pink: #F479A6;
$orange: rgba(233, 138, 51, 0.58);
$gradient: linear-gradient(115.76deg, #F479A6 6.65%, rgba(233, 138, 51, 0.58) 86.69%);